body {
  background-color: #d7432fb7;
}
.container, .containerImg, .containerImgPhoto {
  display: flex;
  justify-content: center;
  width: 500px;
  margin: auto;
  padding: 15px;
  background-color: #d7432f;
}
.containerImgPhoto {
  margin-left: -5px;
}
.containerImg {
  display: flex;
  justify-content: space-around;
}
.btnPre, .btnNext {
  background-color: #d7432f;
  color: #22118e;
}
h1 {
  text-align: center;
}
button {
  background-color: #22118e;
  color: #d7432f;
  font-weight: bold;
  letter-spacing: 8px;
  border-radius: 8px;
  border: none;
  text-transform: uppercase;
  margin-top: 20px;
  padding: 15px;
}
.btnMore {
  color: #22118e;
  background-color: #d7432f;
  letter-spacing: normal;
  padding: 2px;
}
.big {
  display: flex;
  flex-direction: column;
}
